* {
  font-family: "Bradley Hand", cursive;
  flex-direction: row;
}

/* Bradley Hand, cursive */
/* "Blippo", fantasy */

/* introduction */

#start-page {
  flex-direction: row;
}

ol {
  list-style: none;

  padding: 0px;
}

li {
  margin: 5px 0px;
  font-size: 20px;
}

#start-page h1 {
  margin: 50px 0px 0px 0px;
  font-size: 50px;
  color: rgb(255, 124, 124);
  text-shadow: 0px 4px 2px rgb(71, 41, 32);
}
#start-page h3 {
  margin: 0px;
  color: rgb(223, 110, 110);
  font-weight: 800;
}

#start-page h5 {
  margin: 10px 0px;
  color: rgb(223, 110, 110);
}

#start-page ol {
  font-size: 15px;
}

/* buttons */
#start-page input {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;

  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
}
#start-page input:active {
  top: 4px;
  text-shadow: none;
}

#start-page input:hover {
  color: red;
}

#previous {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
  margin: 20px 30px;
}
#previous:active {
  top: 4px;
  text-shadow: none;
}

#previous:hover {
  color: #fd0000;
}

#submit {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
  margin: 20px 30px;
}
#submit:active {
  top: 4px;
  text-shadow: none;
}

#submit:hover {
  color: #fd0000;
}

#next {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
  margin: 20px 30px;
}
#next:active {
  top: 4px;
  text-shadow: none;
}

#next:hover {
  color: #fd0000;
}

#goback {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
  margin: 0px 40px;
}
#goback:active {
  top: 4px;
  text-shadow: none;
}

#goback:hover {
  color: #fd0000;
}

#result {
  background-color: #f8f6f0;
  color: rgba(238, 113, 113, 0.747);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 2px rgb(253, 181, 181);
  margin: 0px 40px;
}
#result:active {
  top: 4px;
  text-shadow: none;
}

#result:hover {
  color: #fd0000;
}

/* this is all for header */
body {
  font-size: 20px;
  color: rgb(92, 83, 83);
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  justify-content: center;
  font-size: 40px;
  margin: 0 50px;
  text-align: right;
  color: rgb(255, 124, 124);
  text-shadow: 0px 4px 2px rgb(71, 41, 32);
}

.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  font-size: 30px;
  color: rgb(255, 121, 121);
}

#timer {
  margin: 0 50px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

/* for picture */

.startimg {
  filter: blur(0px);
  height: 400px;
  width: 400px;
}

.endimg {
  filter: blur(0px);
  height: 400px;
  width: 400px;
}
img {
  height: 400px;
  width: 600px;
  margin: 10px;
}

#quiz-image {
  filter: blur(10px);
}

.quisPageImg {
  width: 800px;
  height: 80px;
}
/* for the quiz */
#quiz-title {
  font-size: 30px;
}
.choiceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quiz-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
  font-size: 25px;
}

#first-answer {
  margin: 0px 10px;
}

#second-answer {
  margin: 0px 10px;
}

#third-answer {
  margin: 0px 10px;
}

.answerContainer {
  margin: 20px 0px 0px 0px;
  font-size: 40px;
  color: #fd0000;
}

/* result */
#result-page h2 {
  font-size: 50px;
  color: rgb(255, 124, 124);
  text-shadow: 0px 4px 2px rgb(71, 41, 32);
  margin: 20px 0px 0px 0px;
}

#result-page h5 {
  font-size: 20px;
  color: rgb(255, 124, 124);
  margin: 10px;
}

#resultContainer {
  font-size: 80px;
}

/* footer */
audio {
  height: 20px;
  margin-top: 30px;
}

footer p {
  font-size: 10px;
}
