html {
  font-family: "Comic Sans MS";

  background-color: bisque;
}

body {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  justify-content: center;
  font-size: 40px;
  margin: 0 50px;
}

.header h1 {
  font-size: 40px;
  text-align: right;
  width: 1000px;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.star1 {
  font-size: 30px;
  color: blue;
}

.star2 {
  font-size: 30px;
  color: blue;
}

.star3 {
  font-size: 30px;
  color: blue;
}

.star4 {
  font-size: 30px;
  color: blue;
}

#timer {
  margin: 0 50px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

.image {
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.img {
  width: 800px;
  filter: blur(10px);
}
/* ol {
  list-style-type: none;
}
 */

#submit-form {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 1px;
}

#submit-city1 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid black;
  margin: 20px;
}

#submit-city2 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid black;
  margin: 20px;
}

#submit-city3 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid black;
  margin: 20px;
}

#submit-city4 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid black;
  margin: 20px;
}

#next-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  font-family: "Comic Sans MS";
}
/* it doesn't work */

#go-back {
  width: 100px;
  height: 30px;
  margin: 20px;
  border-radius: 10px;
  justify-content: flex-start;
  background-color: yellow;
}

#go-next {
  width: 100px;
  height: 30px;
  margin: 20px;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: yellow;
  font-family: "Comic Sans MS";
}
