/* introduction */
ol {
  list-style: none;
}

#start-page h1 {
  margin: 50px 0px 0px 0px;
}
#start-page h3 {
  margin: 0px;
}

#start-page h5 {
  margin: 10px 0px;
}
#start-page ol {
  font-size: 15px;
}

/* this is all for header */
body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  justify-content: center;
  font-size: 40px;
  margin: 0 50px;
  text-align: right;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.star1 {
  font-size: 30px;
  color: blue;
}

.star2 {
  font-size: 30px;
  color: blue;
}

.star3 {
  font-size: 30px;
  color: blue;
}

.star4 {
  font-size: 30px;
  color: blue;
}

#timer {
  margin: 0 50px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

/* for picture */

.startimg {
  filter: blur(0px);
}
img {
  height: 400px;
  width: 600px;
  margin: 10px;
}

#quiz-image {
  filter: blur(8px);
}
/* for the quiz */
#quiz-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}

#first-answer {
  margin: 0px 10px;
}

#second-answer {
  margin: 0px 10px;
}

#third-answer {
  margin: 0px 10px;
}
