html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  flex-direction: column;
}

/* .image {
    width: 1000px;
    justify-content: center;
    margin: 20px 0px;
  } */

h1 {
  font-size: 40px;
  color: navy;
}
ol {
  list-style-type: none;
  font-size: 20px;
}

#h3 {
  text-align: center;
}
.introduction {
  background-color: palegoldenrod;
  border-radius: 20%;
  text-align: left;
  padding: 20px 10px;
  width: 500px;
  justify-content: center;
}
